<div class="row  padding type type-small fat fat-belly underline small-gray">
  <div class="col-xs-3 text-muted">
    <p>digital</p>
    <p class='type type-indented'>
      <a ui-sref="base.self-portrait">self portrait</a> <br>
    </p>
  </div>
  <div class="col-xs-3 text-muted">
    <p>paintings</p>
    <p class="type type-indented">

    </p>
  </div>
  <div class="col-xs-3 text-muted">
    <p>photographs</p>
    <p class="type type-indented">
      <a ui-sref="base.photographs.construction">construction</a>
    </p>
  </div>
  <div class="col-xs-3 text-muted">
    <p>arrangements</p>
    <p class="type type-indented">
      <a ui-sref="base.arrangements.ats">ats</a> <br>
      <a ui-sref="base.arrangements.outside">outside</a>
    </p>
  </div>
</div>

<ui-view></ui-view>
