

  <div class="row padding type type-small fat fat-head fat-belly">
    <p class="text-muted">
      Created: {{ first | FileNameTime }} (2015 November 24 @ 7:36am)<br>
      Updated: {{ last | FileNameTime }}
    </p>
    <p class="text-muted">
      When it's on, my computer takes my photograph at random intervals every 6-18 minutes with probability .5.
    </p>

    <p class="text-muted">
      <a href="https://github.com/irstacks/self-portrait">https://github.com/irstacks/self-portrait</a>
      <br>
      <a ui-sref="base.self-portrait.gif">see the gif version </a>
    </p>
  </div>

  <ui-view></ui-view>

  <div  ng-repeat="self in selfies" class="col-xs-3 col-sm-1 portrait-frame" >
    <img class="portrait" ng-src="images/selfies/{{self}}" />
  </div>



